# Entornos virtuales
venv/
env/
.env

# Python
__pycache__/
*.py[cod]
*.pyo
.Python
*.egg-info/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Datos (no subir datos crudos pesados)
data/raw/*.csv
data/processed/retornos_diarios.csv
data/processed/retornos_imputados.csv
data/processed/precios_diarios.csv
data/processed/retornos_anormales.csv
data/processed/profiling_retornos.html


# Sistema operativo
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.code-workspace
